body{
    width: 100%;
    height: 100vh;
    background: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 50px;
    font-weight: 500;
    color: blue;
}

/*테블릿 PC*/

@media screen and (min-width: 768px) and (max-width: 959px)
{
    body{
        background: darkgreen;
    }
    h1{
        color: #000;
    }
}

/*스마크 폰*/
@media screen and (max-width: 767px){
    body{
        background: rgb(219, 92, 33);
    }
    h1{
        color: rgb(119, 5, 5);
    }
}