/* COMMON */

body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    background: #F6F5F0;}

.material-icons{
    color: #F6F5F0;
    font-size: 32px;
    cursor: pointer;
    }

/* HEADER */
header{
    background: rgb(19, 25, 35);
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; /*모든 아이템 정중앙에 배치*/}

section.bar1{
    background: darkblue;
    background-color: darkblue;
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; /*모든 아이템 정중앙에 배치*/
    font-size: 12px;
}

section.bar2{
    background: black;
    background-color: black;
    background-color: (0,0,0);
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; /*모든 아이템 정중앙에 배치*/
    font-size: 12px;
}
}




