/* COMMON */

body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    background: #F6F5F0;}

.material-icons{
    color: #F6F5F0;
    font-size: 32px;
    cursor: pointer;
    }

/* HEADER */
.bar1{    background: #000;
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; /*모든 아이템 정중앙에 배치*/}


header{
    background: grey;

    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; /*모든 아이템 정중앙에 배치*/
}

