/* COMMON */

body{
    font-family: 'Do Hyeon', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    background: #F6F5F0;}

.material-icons{
    color: #F6F5F0;
    font-size: 20px;
    cursor: pointer;
    margin-left: 10;  /*왼쪽으로 보내기-수정필요*/
    }


#bar1{
    background: black;
    background-color: black;

    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: flex-end;
    font-size: 12px;
}

#bar2{
    background: rgb(23, 23, 65);
    background-color: rgb(23, 23, 65);
    height: 40px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center; /*모든 아이템 정중앙에 배치*/
    font-size: 12px;
}

/* HEADER */
header{
    background: rgb(19, 25, 35);
    height: 100px;
    width: 100%;
    display: flex;
    position: fixed;
}




